* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* This is Header */

nav {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: black;

}

/* This is Banner */

.banner {
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 120px;
}

.profile-pic {
    width: 635px;
    height: 800px;
}

.banner-greeting {
    color: #272727;
    font-family: Lato;
    font-size: 80px;

    font-weight: 800;
}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

.btn-primary {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}

/* This is Our Featured Flowers */

.about {
    margin-top: 170px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* This is Pink Flower Tree */

.flo-pink {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;



}

.flo-pink-primary {
    width: 310px;
    height: 428px;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    margin-left: 70px;


}

.flo-tree{
    margin: 5px;
}

.flo-pink-paragraph {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; 
    text-decoration-line: underline;

    margin-top: 30px;
    margin-bottom: 130px;
}

/* .flo-tree {
    
    align-items: center;
    display: flex;

} */

.mein-flo{
    display: flex;
    margin: 0px 120px;
}