* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* This is Header */

nav {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: black;

}

/* This is Banner */

.banner {
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 120px;
}

.profile-pic {
    width: 635px;
    height: 800px;
}

.banner-greeting {
    color: #272727;
    font-family: Lato;
    font-size: 80px;

    font-weight: 800;
}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

.btn-primary {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}

/* This is Our Featured Flowers */

.about {
    margin-top: 170px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* This is Pink Flower Tree */

.flo-pink {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;



}

.flo-pink-primary {
    width: 310px;
    height: 428px;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    margin-left: 70px;


}

.flo-tree {
    margin: 5px;
}

.flo-pink-paragraph {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

    margin-top: 30px;
    margin-bottom: 130px;
}


.mein-flo {
    display: flex;
    margin: 0px 120px;
}

/* This is delivery section  */


.dv-area {
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 120px;

}

.dv-main-div {

    display: flex;

    /* border-radius: 8px;
    background: rgba(39, 39, 39, 0.05); */
    align-items: center;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 85px;


}

.delivery-paragraph {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-left: 90px;
}

.delivery-icon {
    margin-left: 90px;
    margin-bottom: 22px;
    width: 88px;
    height: 88px;
}


/* This is Hot Deal ! Sale Up To 25% Off */


.hot-main {

    width: 1580px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    padding: o;
    margin: 120px 0;
}

.hot-header {
    margin-top: 230px;
    margin-left: 140px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-colour {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hot-pg {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 140px;
    margin-top: 25px;

}

.hot-pg-two {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 170px;
    margin-bottom: 25px;

}

.btn-primary-two {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin-left: 360px;

}

.hot-img {
    margin-top: 100px;
    margin-left: 200px;
}

/* This is Instagram */

.in-header {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 25px;
}

.in-pg {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.in-pic-main {
    display: flex;
    margin: 50px 120px 125px;
}



.in-pic-one {
    width: 342px;
    height: 396px;
    margin-right: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.in-pic-two {
    width: 342px;
    height: 396px;
    margin-right: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.in-pic-three {
    width: 342px;
    height: 396px;
    margin-right: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.in-pic-four {
    width: 342px;
    height: 396px;
    margin-right: 20px;
    background: url(<path-to-image>), lightgray -11.535px 0px / 173.728% 100% no-repeat;
}


/* This is Get The Latest Deals */


.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;

}

.form-mein {
    align-items: center;
    text-align: center;
    background: url(./images/Rectangle\ 9.png);
    border-radius: 8px;
    background-repeat: no-repeat;
    margin-left: 120px;
    margin-bottom: 120px;

}

.btn-deals {
    padding-top: 100px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.p-coupon {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 45px;
}

.f-email {


    border-radius: 8px;
    background: #FFF;
    margin-right: 15px;

    padding: 22px 500px 22px 22px;
}


/* contact section  */

.fl-header {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
    padding-bottom: 25px;

}

.fl-pg {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.fl-pg-two{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    
}

.fl-main {
    justify-content: center;
    text-align: center;
    background: #111010;

}

.fl-contact{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 120px;

}